@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Edo";
  src: url("/_fonts/Edo.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("/_fonts/Montserrat-Bold.otf") format("opentype");
}

:root {
  --background: #000000;
  --gray-card: #5a5a5a;
  --primary: #e6bb6b;
  --bg-review: #242424;

  --h1: clamp(50px, 5.729vw, 110px);
  --h2: 64px;
  --h3: 14px;
  --h5: 18px;
  --h6: 16px;
  --subtitle: 12px;
}

@theme inline {
  --text-h1: var(--h1);
  --text-h2: var(--h2);
  --text-h3: var(--h3);
  --text-h5: var(--h5);
  --text-h6: var(--h6);
  --text-subtitle: var(--subtitle);

  --color-primary: var(--primary);
  --color-gray-card: var(--gray-card);
  --color-bg-review: var(--bg-review);

  --spacing-h1: calc(var(--h1) - 5px);
  --spacing-h2: calc(var(--h2) - 5px);
  --spacing-h3: calc(var(--h3) - 5px);
  --spacing-h5: calc(var(--h5) - 5px);
  --spacing-h6: calc(var(--h6) + 4px);
  --spacing-subtitle: calc(var(--subtitle) - 2px);
  --spacing-200: clamp(0px, 10.417vw, 200px);

  --font-edo: "Edo", sans-serif;
  --font-montserrat-bold: "Montserrat", sans-serif;
  --font-montserrat-light: "Montserrat", sans-serif;
  --font-inter: "Inter", sans-serif;
}

body {
  background: var(--background);
}
