@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #000000;
}

@font-face {
  font-family: "Edo";
  src: url("/alibaba/public/_fonts/Edo.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("/alibaba/public/_fonts/Montserrat-Bold.otf") format("opentype");
}

@theme inline {
  --color-background: var(--background);

  --text-h1: clamp(50px, 5.729vw, 110px);
  --text-h2: 64px;
  --text-h3: 14px;
  --text-subtitle: 12px;

  --spacing-h1: clamp(45px, 5.469vw, 105px);
  --spacing-h2: 105px;
  --spacing-h3: 20px;
  --spacing-subtitle: 15px;

  --spacing-200: clamp(0px, 10.417vw, 200px);

  --font-edo: "Edo", sans-serif;
  --font-montserrat-bold: "Montserrat", sans-serif;
  --font-montserrat-light: "Montserrat", sans-serif;
  --font-inter: "Inter", sans-serif;
}

body {
  background: var(--background);
}
